<div class="title-header">
  <h1>Sistema de Gestión Educativa</h1>
</div>

<header>
  <nav>
    <ul>
      
      <li><a href="/usuarios"><i class="fas fa-users"></i> Usuarios</a></li>
      <li><a href="/registros"><i class="fas fa-clipboard-list"></i> Registros</a></li>
      <li><a href="ciudad"><i class="fas fa-city"></i> Ciudades</a></li>
      <li><a href="/visualizarGrafo"><i class="fas fa-project-diagram"></i> Visualización de Grafo</a></li>
      <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
    </ul>
  </nav>
</header>

<main>
  <!-- Aquí se cargarán los componentes o vistas según corresponda -->
  <router-outlet></router-outlet>
</main>

